<div class="modal-container">
  <div class="modal">
    <div class="modal-header">
      <div class="modal-title">
        <h1>Titulo de Modal</h1>
      </div>
      <div class="modal-sub_title">
        <small>
          Posee productos fuera de stock, por favor ir a su carrito -> eliminar
          producto O tambien puede comunicarse con Servicio y Atencion al
          cliente.
        </small>
      </div>
    </div>
    <div class="modal-content">
      <div class="modal-body">
        <div class="product-list">
          <div class="product-item">
            <img src="https://media.biomercados.com.ve/media/catalog/product/cache/f7518a5bb674ebdb0160bf37e33f351f/0/0/000525_11.jpeg" alt="" class="product-icon">
          <span class="product-name">Aguacate X kg</span>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button mat-stroked-button color="accent">Ir a Carrito</button>
    </div>
  </div>
</div>
